/*---------------------------------------------------google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*--------------------------------------------------header/logo*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}
.logo img {
    max-height: 50px;
}
/*----------------------------------------------------navbar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-right: 20px;
}
.navbar ul li:last-child {
    margin-right: 0;
}
.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: rgba(225, 198, 210, 1);
}
.navbar ul li a.active.nav-link {
    text-decoration: underline;
}

/*-----------------------------------------------carousel*/
.carousel-item {
    height: 100vh;
    height: 760px;
    background-size: cover;
    background-position: center;
}

/*-----------------------------------------------About*/
.about-section {
    
    background-color: #fefee3;
    padding: 40px;
}
.col-md-4 p {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-md-4 {
    padding: 0 80px;
}
.bg-color-about {
    background-color: #bacbba;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
/*-----------------------------------------------footer*/
html,body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    /*font-family*/
}
.footer {
    background-color: #3a3d41;
    color: #fafafa;
    padding: 60px;
    margin-top: auto;
    
}
.social-icons {
    text-align: center;
    margin-bottom: 20px;
}
.social-icons a {
    color: #fafafa;
    font-size: 36px;
    margin-right: 200px;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}

.social-icons a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.social-icons a:hover {
    background-color: rgba(225, 198, 210, 1);
}
.social-icons a i {
    position: relative;
    z-index: 1;
}
.social-icons a:last-child {
    margin-right: 0;
}
.copyright {
    text-align: center;
    font-size: 16px;
}
/*-----------------------------------------------media query mobile*/

@media only screen and (max-width: 767px){
    .social-icons {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .social-icons a {
        font-size: 24px;
        margin: 0 10px;
    }
}
/*-----------------------------------------------media query ipad*/

@media only screen and (max-width: 991px){
    .social-icons {
        display: flex;
        justify-content: center;
        margin-right: 0;
    }
    .social-icons a {
        font-size: 24px;
        margin: 0 10px;
    }
    
}


/*--------------------Contact*/

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
#form_div {
    
    justify-content: center; }

#message {
    margin-top: 25px;
}

#contact_title {
text-align: center;
font-weight: 700;
}


#form_div {
    padding-left: 
}

#opening_hours {
    text-align: center;
    font-weight: 700;
    padding-top: 20px;
}

#opening_border > p {
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

#border_div{
    background-color: white;
}

#form {
    padding: 20px;
}

#form_button {
    transition-duration: 0.3s;
  }
  
  #form_button:hover {
    background-color:rgba(225, 198, 210, 1);
    color:#232c33;
    font-weight:500;
  }

  #submit {
    margin-left: auto;
    margin-right: auto;
  }

#map {
    padding: 20px;
}

#text {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    
    }

    #form {
        background-color: #a0c1d1;
    }

    .email { font-size: 30px; text-decoration: none; }
    .phone { font-size: 30px; text-decoration: none; }
    .map { font-size: 30px; text-decoration: none; }